In [1]:

dsi_lecture_times = {
    'WC': {
        'LA': {
            'M': [9, 2],
            'T': [9, 2],
            'W': [9, 2],
            'Th': [9],
            'F': [9]},
        'SEA': {
            'M': [9, 2],
            'T': [9, 2],
            'W': [9, 2],
            'Th': [9],
            'F': [9]},
        'DEN': {
            'M': [10, 3],
            'T': [10, 3],
            'W': [10, 3],
            'Th': [10],
            'F': [10]},
        'SF': {
            'M': [9, 2],
            'T': [9, 2],
            'W': [9, 2],
            'Th': [9],
            'F': [9]}},
    'EC': {
        'BOS': {
            'M': [10, 3],
            'T': [10, 3],
            'W': [10, 3],
            'Th': [10],
            'F': [10]},
        'NYC': {
            'M': [10, 3],
            'T': [10, 3],
            'W': [10, 3],
            'Th': [10],
            'F': [10]},
        'DC': {
            'M': [10, 3],
            'T': [10, 3],
            'W': [10, 3],
            'Th': [10],
            'F': [10]},
        'ATX': {
            'M': [9, 2],
            'T': [9, 2],
            'W': [9, 2],
            'Th': [9],
            'F': [9]},
        'CHI': {
            'M': [9, 2],
            'T': [9, 2],
            'W': [9, 2],
            'Th': [9],
            'F': [9]},
        'ATL': {
            'M': [10, 3],
            'T': [10, 3],
            'W': [10, 3],
            'Th': [10],
            'F': [10]}}
    }

In [2]:
dsi_lecture_times

{'WC': {'LA': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]},
  'SEA': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]},
  'DEN': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]},
  'SF': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]}},
 'EC': {'BOS': {'M': [10, 3],
   'T': [10, 3],
   'W': [10, 3],
   'Th': [10],
   'F': [10]},
  'NYC': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]},
  'DC': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]},
  'ATX': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]},
  'CHI': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]},
  'ATL': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]}}}

In [3]:
dsi_lecture_times.keys()

dict_keys(['WC', 'EC'])

Let's set our objective as accessing the start time of the second Wednesday lecture in Chicago.

In [ ]:
#lets peel off the onion

In [6]:
dsi_lecture_times["EC"]

{'BOS': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]},
 'NYC': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]},
 'DC': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]},
 'ATX': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]},
 'CHI': {'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]},
 'ATL': {'M': [10, 3], 'T': [10, 3], 'W': [10, 3], 'Th': [10], 'F': [10]}}

In [7]:
dsi_lecture_times["EC"]["CHI"]

{'M': [9, 2], 'T': [9, 2], 'W': [9, 2], 'Th': [9], 'F': [9]}

In [8]:
dsi_lecture_times["EC"]["CHI"]["W"][1]

2

Defining structure of the game using dictionaries

In [129]:
#define 1st player
player_1 = {"player_id":1,"player_name":None,"time_played":0.00,"player_pokemon":{},"gyms_visited":[]}

In [130]:
player_1

{'player_id': 1,
 'player_name': None,
 'time_played': 0.0,
 'player_pokemon': {},
 'gyms_visited': []}

In [131]:
#define meta dictionary with only player1 in:
poke_players = {"key1":player_1}

In [132]:
# changing player1's name to our own using nested dictionaries
poke_players["key1"]["player_name"] = "clement"

In [133]:
#runnning the code to check
poke_players["key1"]

{'player_id': 1,
 'player_name': 'clement',
 'time_played': 0.0,
 'player_pokemon': {},
 'gyms_visited': []}

In [134]:
#Define a function that adds a player to poke_players.
#Your function should...

#Take arguments for players_dict, player_id, and player_name.
#Create a player with the above values and populate the gyms_visited, player_pokemon, and time_played accordingly.
#Add a second player to the players dictionary. The id should be 2, but the name is up to you!
#Reassign and overwrite the poke_players dictionary.
#Print the name of the player added.

In [135]:
poke_players

{'key1': {'player_id': 1,
  'player_name': 'clement',
  'time_played': 0.0,
  'player_pokemon': {},
  'gyms_visited': []}}

In [136]:
  def add_player(players_dict, player_id, player_name):
    new_player = {"player_id":player_id, "player_name":player_name,"time_played":0.00,"player_pokemon":{},"gyms_visited":[]}
    players_dict[player_id] = new_player

In [137]:
add_player(poke_players,2,"Vincent")

In [138]:
poke_players

{'key1': {'player_id': 1,
  'player_name': 'clement',
  'time_played': 0.0,
  'player_pokemon': {},
  'gyms_visited': []},
 3: {'player_id': 3,
  'player_name': 'Vincent',
  'time_played': 0.0,
  'player_pokemon': {},
  'gyms_visited': []}}

 Defining "gym" locations

In [139]:
list_gym_locations = [ 
'reddit.com',
'amazon.com',
'twitter.com',
'linkedin.com',
'ebay.com',
'netflix.com',
'stackoverflow.com',
'github.com',
'quora.com',
'google.com',
]

In [140]:
list_gym_locations # test the list

['reddit.com',
 'amazon.com',
 'twitter.com',
 'linkedin.com',
 'ebay.com',
 'netflix.com',
 'stackoverflow.com',
 'github.com',
 'quora.com',
 'google.com']

In [141]:
from random import sample # use the new method from random module 

for x in poke_players.keys(): # x will be an integer representing player_id
    poke_players[x]["gyms_visited"] = sample(list_gym_locations,2) # we assign 2 gyms visited per player

In [142]:
poke_players

{'key1': {'player_id': 1,
  'player_name': 'clement',
  'time_played': 0.0,
  'player_pokemon': {},
  'gyms_visited': ['github.com', 'amazon.com']},
 3: {'player_id': 3,
  'player_name': 'Vincent',
  'time_played': 0.0,
  'player_pokemon': {},
  'gyms_visited': ['stackoverflow.com', 'quora.com']}}

3 - Create Pokedex

In [143]:

#3A create a function called create_pokemon
import numpy as np

def create_pokemon (poke_id, poke_name, poke_type):
    return {"poke_id": poke_id, 
            "poke_name": poke_name, 
            "poke_type": poke_type, 
            "hp": np.random.randint(400,500), 
            "attack": np.random.randint(50 , 100), 
            "defense": np.random.randint(50 ,100),
            "special_attack": np.random.randint(100, 150), 
            "special_defense": np.random.randint(100 , 150),
            "speed": np.random.randint(0, 100)}

In [146]:
create_pokemon(1,"Charmander","fire")

{'poke_id': 1,
 'poke_name': 'Charmander',
 'poke_type': 'fire',
 'hp': 418,
 'attack': 71,
 'defense': 86,
 'special_attack': 117,
 'special_defense': 100,
 'speed': 34}

In [147]:
pokedex = {}

In [148]:
type(pokedex)

dict

In [2]:
def create_and_add_to_pokedex (pokedex, poke_id, poke_name, poke_type):
    create_pokemon()

In [3]:
1	charmander	fire
2	squirtle	water
3	bulbasaur	poison

SyntaxError: invalid syntax (551470751.py, line 1)